# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Mac system files
.DS_Store

# Conda environment folder
env/
venv/
.myenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
